.header {
    background-color: #456a7a;
    &__nav {
        min-height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__link {
        font-size: 25px;
        color: white;
        margin-right: 25px;
        text-decoration: none;
        cursor: pointer;
        transition: color 0.3s;
        text-align: center;
    }
    &__link:last-child {
        margin-right: 0px;
    }
    &__link:hover {
        color: yellow;
    }
}