.promo {
    padding: 20px 0 0 0;
    min-height: 1400px;
    background: url("../img/bg.jpg") center center / cover no-repeat;
    .promo__logo {
        display: flex;
        justify-content: center;
        .promo__logo_img {
            margin-right: 20px;
        }
        .promo__logo_text {
            font-size: 80px;
            text-transform: uppercase;
        }
    }
    .promo__contents {
        margin-top: 500px;
        display: flex;
        justify-content: space-between;
    }
    .promo__content {
        width: 580px;
    }
}